Logger/Logs/Ordinary/*.txt

/**/Objects/*
/**/*.o
/**/*.d
/**/*.lst
/**/*.crf
/**/*.iex
/**/*.axf
/**/*.htm
/**/*.lnp
/**/*.map
/**/*.sct
/**/*.dep

/**/Listings/*
/**/*.uvguix.*

/**/Win32/
/**/Debug/
/**/Release/

*.sdf
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.v12.suo

Matlab/**/*.asv
Matlab/**/*.m~
